.home-page-container {
  width: 100%;
  height: 725px;
  background: url(./public/pexel1.jpg) center/cover;
  // position: relative;
  z-index: 1;
  .container {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(
      to top,
      rgba(0, 84, 165, 0.6),
      rgba(255, 255, 255, 0.6)
    );
    display: block;
    nav {
      padding: 10px 20px;
      width: 100%;
      position: fixed;
      height: 60px;
      z-index: 9999;
      background-color: transparent;
      will-change: background-color, backdrop-filter;
      border-bottom: 2px solid transparent;
      backdrop-filter: blur(1px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        width: auto;
        display: flex;
        align-items: center;
        h1 {
          font-family: "font-1";
          margin-left: 10px;
          color: var(--text-principal);
        }
        .img-societe {
          width: 52px;
          height: 50px;
          img {
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 100%;
          }
        }
      }
      .link-nav {
        display: flex;
        align-items: center;
        .menu {
          display: none;
        }
        .link {
          ul {
            display: flex;
            list-style: none;
            a {
              text-decoration: none;
              width: auto;
              padding: 0 5px;
              color: var(--text-principal);
              font-family: "font-1";
              margin-right: 15px;
              letter-spacing: 1.2px;
              transition: all 200ms ease-out;
              &:hover {
                margin-top: -5px;
                cursor: pointer;
                border-bottom: 3px solid var(--color-secondary);
              }
            }
          }
        }
        .mode {
          display: flex;
          align-items: center;
          svg {
            margin: 0 10px;
            width: 30px;
            height: 30px;
            color: var(--text-principal);
            cursor: pointer;
            transition: all 300ms ease-in;
            &:hover {
              transform: scale(1.1);
            }
          }
          .sun:hover {
            transform: scale(1.1) rotate(90deg);
          }
        }
      }
    }
    .home {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      h1 {
        font-size: 45px;
        text-align: left;
        margin-top: 180px;
        font-family: "font-1";
        color: var(--fond-principal);
        // color: var(--text-principal);
        line-height: 1.6;
        width: 70%;
        span {
          color: var(--color-secondary);
        }
      }
      .btns {
        width: auto;
        height: auto;
        margin-top: 30px;
        display: flex;
        a {
          padding: 12px 20px;
          border: none;
          text-decoration: none;
          display: flex;
          align-items: center;
          margin-right: 20px;
          background-color: var(--color-secondary);
          color: var(--fond-principal);
          border-radius: 12px;
          transition: all 200ms ease-out;
          span {
            font-family: "font-1";
            letter-spacing: 1.2px;
            font-size: 20px;
            margin-left: 10px;
          }
          svg {
            width: 30px;
            height: 30px;
          }
          &:hover {
            background-color: var(--color-principal);
            cursor: pointer;
            box-shadow: 2px 4px 8px #00000052;
          }
        }
      }
    }
    .circle {
      position: absolute;
      width: 451px;
      height: 450px;
      bottom: 80px;
      background: transparent;
      border: 5px solid var(--color-secondary);
      // border: 5px solid var(--text-principal);
      border-radius: 100%;
      right: -200px;
      .icon {
        position: relative;
        color: var(--fond-principal);
        animation: moveRotate 3s ease-in-out infinite;
        transition: all 200ms ease-out;
      }
      .one {
        top: 390px;
        left: 80px;
        rotate: -30deg;
      }
      .four {
        top: -12px;
        left: -100px;
        rotate: -10deg;
      }
      .two {
        top: 260px;
        right: 100px;
        rotate: 30deg;
      }
      .trois {
        top: 90px;
        right: 160px;
        rotate: 30deg;
      }
    }
  }
  .a {
    display: none;
  }
  .vue {
    display: initial;
  }
}

@keyframes moveRotate {
  0% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}
@media screen and (min-height: 850px) {
  .home-page-container {
    height: 950px;
  }
}
@media screen and (min-width: 300px) and (max-width: 767px) {
  .home-page-container {
    min-height: 850px;
    .container {
      nav {
        padding: 30px 10px;
        height: 40px;
        .logo {
          h1 {
            font-size: 18px;
            letter-spacing: 1.2px;
            // display: none;
          }
          .img-societe {
            width: 42px;
            height: 40px;
          }
        }
        .link-nav {
          display: flex;
          align-items: center;
          .menu {
            display: initial;

            width: 30px;
            height: 30px;
          }
          svg {
            margin: 0 10px;
            width: 30px;
            height: 30px;
            color: var(--text-principal);
            cursor: pointer;
            &:hover {
              transform: scale(1.1);
            }
          }
          .link {
            ul {
              display: none;
            }
          }
          .mode {
            svg {
              margin: 0 0px;
              width: 30px;
              height: 30px;
            }
          }
        }
      }
      .home {
        padding: 0 10px;
        align-items: center;
        justify-content: space-evenly;
        h1 {
          font-size: 35px;
          text-align: center;
          letter-spacing: 1.3px;
          margin-top: 50px;
          width: 100%;
        }
        .btns {
          width: 100%;
          display: grid;
          grid-template-columns: 50% 50%;
          justify-content: center;
          margin-top: -50px;
          a {
            padding: 12px 25px;
            width: 90%;
            margin-right: 10px;
            position: relative;
            left: 10px;
            span {
              font-size: 12px;
            }
          }
        }
      }
      .circle {
        display: none;
      }
    }
    a {
      text-decoration: none;
      color: var(--text-principal);
      .arrow {
        // display: initial;
        position: fixed;
        bottom: 500px;
        top: 90%;
        z-index: 7;
        font-size: 30px;
        padding: 17px 20px;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.315);
        right: 15px;
        border-radius: 100%;
        background: var(--background);
      }
    }
  }
}
