.map-container {
  width: 100%;
  height: 550px;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 60px 40px;
  background-color: var(--fond-map);
  position: relative;
  overflow: hidden;
  .map-cont {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    flex-direction: column;
    h1 {
      font-size: 60px;
      font-family: "font-1";
      color: var(--color-secondary);
      //   margin-top: -20px;
      position: relative;
      top: -30px;
      text-align: right;
    }
    .card-map {
      width: 95%;
      height: 380px;
      margin-left: 50px;
      position: relative;
      top: -30px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        box-shadow: 2px 5px 10px rgba(34, 34, 34, 0.349);
      }
    }
  }
  .descript-cont {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--text-principal);
    z-index: 2;
    p {
      text-align: left;
      font-family: "font-2";
      margin-top: 80px;
      font-size: 20px;
      line-height: 35px;
      width: 100%;
      span {
        font-family: "font-1";
        display: block;
        margin-bottom: 30px;
        font-size: 25px;
      }
    }
  }
  .fa-location-dot {
    font-size: 53px;
    color: var(--color-secondary);
    position: absolute;
    bottom: 267px;
    right: 240px;
    background: none;
    z-index: 2;
  }
  .one {
    font-size: 53px;
    color: rgba(34, 34, 34, 0.877);
    position: absolute;
    bottom: 267px;
    right: 240px;
    background: none;
    filter: blur(2px);
    z-index: 1;
  }
  .circle {
    position: absolute;
    width: 250px;
    height: 250px;
    border: 5px solid var(--color-secondary);
    border-radius: 100%;
    bottom: -100px;
    left: -60px;
    z-index: 1;
  }
  // .main-icon {
  //   font-size: 53px;
  //   color: var(--color-secondary);
  //   position: absolute;
  //   bottom: 267px;
  //   right: 240px;
  //   // box-shadow: 2px 5px 10px rgba(34, 34, 34, 0.349);
  //   background: none;
  //   z-index: 2;
  // }
  // .shadow-icon {
  //   position: absolute;
  //   bottom: 267px;
  //   right: 240px;
  //   font-size: 2rem;
  //   color: rgba(0, 0, 0, 0.3);
  //   z-index: -1;
  // }
}
@media screen and (min-width: 300px) and (max-width: 767px) {
  .map-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 15px 40px 15px;
    position: relative;
    .descript-cont {
      width: 100%;
      text-align: center;
      p {
        margin-top: 0px;
        text-align: center;
        span {
          margin-bottom: 10px;
        }
      }
    }
    .map-cont {
      margin-top: 40px;
      h1 {
        font-size: 40px;
        text-align: center;
        // width: 100%;
      }
      .card-map {
        margin-left: 8px;
        margin-top: 30px;
        height: 250px;
      }
    }
    .fa-location-dot {
      font-size: 53px;
      bottom: 500px;
      right: 140px;
      bottom: 0px;
      top: 160px;
    }
    .one {
      font-size: 53px;
      bottom: 500px;
      right: 140px;
      bottom: 0px;
      top: 160px;
    }
  }
}
